body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #002f6c;
    padding: 15px;
    text-align: center;
}

.logo {
    color: white;
    margin: 0;
}

main {
    padding: 20px;
}

/* Container Berita */
.news-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Card Berita */
.news-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}

.news-card img {
    width: 140px;
    border-radius: 10px;
}

/* Admin */
#login-box, #editor {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, textarea, button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

button {
    background: #002f6c;
    color: white;
    border: none;
    border-radius: 5px;
}