body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f7fa;
}

header {
    background: #1e293b;
    padding: 15px 25px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.admin-btn {
    background: #3b82f6;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 20px auto;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 18px;
}

.card {
    background: white;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.12);
    transition: 0.2s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-4px);
}

.card img {
    width: 100%;
    height: 120px;   /* GAMBAR KECIL */
    object-fit: cover;
    border-radius: 8px;
}

.card h3 {
    margin: 10px 0 5px;
}

.detail-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.admin-panel input,
.admin-panel textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background: #0ea5e9;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    .delete-btn {
    background: #ef4444;
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    border: none;
    margin-top: 8px;
    cursor: pointer;
    width: 100%;
}
}