body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f6fa;
    padding: 20px;
}

/* JUDUL WEB */
.judul {
    text-align: center;
    font-size: 32px;
    color: #1a73e8;
    margin-bottom: 20px;
    font-weight: bold;
}

/* CARD BERITA UNTUK USER */
.berita-card {
    background: white;
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.berita-card h2 {
    margin: 0 0 10px 0;
}

.thumb {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    display: block;
    margin-bottom: 12px;
}

/* KOMENTAR */
.komentar {
    background: #eef2ff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.balasan {
    background: #dce4ff;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    margin-left: 15px;
}

/* ADMIN PANEL */
#login-box, #admin-panel {
    max-width: 450px;
    margin: auto;
}

#admin-panel input, 
#admin-panel textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #bbb;
}

#admin-panel button {
    padding: 10px 15px;
    background: #1a73e8;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
}

#admin-panel button:hover {
    background: #145ab5;
}

/* ADMIN LIST */
.admin-berita-item {
    display: flex;
    gap: 15px;
    background: white;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.thumb-admin {
    width: 100px;
    height: 70px;
    object-fit: cover;
    border-radius: 6px;
}

.admin-berita-item button {
    background: red;
    padding: 6px 15px;
    border-radius: 6px;
    font-size: 14px;
}

.admin-berita-item button:hover {
    background: darkred;
}

textarea {
    resize: vertical;
}

/* INPUT KOMENTAR */
input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #bbb;
}

button {
    padding: 8px 14px;
    background: #1a73e8;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 6px;
}

button:hover {
    background: #145ab5;
}